*.DS_Store
*.asv
.DS_Store
*.Rhistory

4_stats/.Rhistory
4_stats/.RData
2_feature_extraction/.DS_Store
4_stats/.RData
4_stats/.Rhistory
4_stats/.Rhistory
4_stats/.RData
.DS_Store
4_stats/rainclouds/.RData
4_stats/rainclouds/.Rhistory
2_feature_extraction/eeg/.Rhistory
.DS_Store
4_stats/.RData
4_stats/.Rhistory
.DS_Store
_BACKUP/.DS_Store
